body { 
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(#E33514, #D68420 , #C7D620 );
    height: 100vh;
}

button {
    padding: 12px 25px;
    background-color: #58348f; 
    color: #e8eaf6; 
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-direction: column;
    gap: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
}


.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.form-container h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
    color: #000000;
}

.form-container form {
    padding: 30px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

form .username {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.username input {
    width: 100%;
    padding: 0px 5px;
    font-size: 16px;
    height: 16px;
    border: none;
    outline: none;
    background: none;
}

.username label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.username span::before {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #6c3483;
    transition: .5s;
}

.username input:focus~label,
.username input:focus~label {
    top: -5px;
    color: #6c3483;
}


.username input:focus~span::before,
.username input:focus~span::before {
    width: 100%;
}

.recordar {
    margin: -2px 20px 4px;
    color: blue;
    cursor: pointer;
    text-align: center;
}

.recordar:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #6c3483;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: #6c3483;
    transition: .5s;
}

.registro {
    margin: 5px 20px 5px;
    text-align: center;
    font-size: 16px;
    color: #6c3483;
}

.registro a {
    color: #6c3483;
    text-decoration: none;
}

.registro a:hover {
    text-decoration: underline;
}